.red{
  width: 200px;
  height: 200px;
  background-color: red;
  margin-left: 630px;
  position: fixed;
}
.blue{
  width: 100px;
  height: 100px;
  background-color: blue;
  float: left;
  position: fixed;
}
.yellow{
  width: 150px;
  height: 150px;
  background-color: yellow;
  float: right;
}